.error {
    color: red;
    font-size: 0.9em;
}
.userform{
    color:blueviolet;
}
.valid {
    border-color: green;
}

.invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.error-message.active {
    display: block;
}


table { width: 80%; margin: auto; border-collapse: collapse; }
th, td { padding: 10px; text-align: left; border: 1px solid #ddd; }
th { background-color: #f2f2f2; }

/* Content inside the container */
.content {
    position: relative;
    z-index: 2; /* Keep content above the overlay */
    color: white;
    text-align: center;
    padding-top: 100px;
}